body {
    background: #222222;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

#welcome-text {
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 43%;
    opacity: 0;
}

#welcome-text-subscript {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    opacity: 0;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #222222;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#team-members {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
}
#team-members .title{
    color: #666666;
    margin-bottom: 10px;
}
.member-avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 7px;
}

main {
    text-align: center;
}
main .anim-container {
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 80%;
    display: block;
}
main .anim-container img {
    max-width: 100%;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
}